h1, h2, h3 {
  font-family: 'Monserrat', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
}

.mobile-nav {
  display: none;
}
header {
  background: url("images/home_main_desktop.jpg") no-repeat center;
  background-size: 100%;
  height: 450px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
}

header i {
  color: white;
}

.black-nav{
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 25px;
}

.bl-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 80px;
}


.bl-nav li{
  list-style:none;
  display: inline-block;
  margin: 0 1em;
}

.white-nav {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.wh-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 20px;
}

.white-nav li {
  list-style:none;
  display: inline-block;
  margin: 0 20px 20px 20px;
  text-transform: uppercase;
}

.white-nav img {
  width: 150px;
}

.container {

}

.stories {
  background-color: #d9d9d9;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-bottom: 80px;
}

.white-card {
  margin: 0 30px 0 30px;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.white-card img {
  width: 280px;

}

.white-card p {

  text-align: center;
  font-size: 14px;
  font-weight:bold;
  text-transform: uppercase;
}

.honduras {
  background-image: url("images/slideshow-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.card-left{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 80px;
}

.wide-white-card {
  width: 500px;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin-top: 45px;

}

.wide-white-card h2, p {
  padding: 0 30px 0 30px;
}

.wide-white-card p {
  font-size: 14px;
  font-weight: 200;
  line-height: 36px;
}

.card-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.card-center img {
  min-width: 400px;
  height: 274px;
  margin-top: 45px;
  margin-left: 20px;
}

.wholesale {
  margin-bottom: 40px;
}

.grey-nav {
  background-color: #afafaf;
  color: black;
  font-size: 14px;
}

.gr-nav {
  margin: 10px;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: center;
}

.submit {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit input {
  border: none;
  height: 50px;
  background color: white;
  padding: 0 20px 0 20px;
}

.submit button {
  border: none;
  height: 50px;
  background-color: black;
  color: white;
  padding: 0 15px 0 15px;
}

.raven img {
  display: block;
  position: relative;
  margin: auto;
  padding-top: 30px;
  width: 50px;
}

footer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 25px;
  margin-bottom: 30px;
}

.row1 {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.row2 {
  list-style: none;
}

.bold-title {
  font-weight: 700;
}

.divider {
  border-top: 1px solid grey;
  width: 60%;
  margin: auto;
}

.credits {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {

.mobile-nav {
  background-color: black;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-nav i {
  color: white;
}

.mobile-nav img {
  width: 50px;
  height: 50px;
}

header {
  background: url("images/home_main_mobile_1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.black-nav {
  display: none;
}

.white-nav {
  display: none;
}

.stories {
  background-color: #d9d9d9;
  display: flex;
  flex-flow: column; nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  margin: 30px 0 30px 0;
}

.white-card {
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin-bottom: 50px;
}

.white-card img {
  width: 450px;

}

.white-card p {

  text-align: center;
  font-size: 14px;
  font-weight:bold;
  text-transform: uppercase;
}

.honduras {
  background-image: url("images/slideshow-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px 0;

}

.card-left{
 margin: auto;
}

.wide-white-card {
  width: 450px;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.wholesale {
  margin-bottom: 0px;
}

.card-center {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px
}

.card-center img {
  width: 450px;
  height: 300px;
  margin: 0;
}

.grey-nav {
  background-color: #afafaf;
  color: black;
  font-size: 14px;
}

.gr-nav {
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.submit {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit input {
  border: none;
  height: 50px;
  width: 100%;
  background color: white;
  padding: 0 50px;
}

.submit button {
  border: none;
  height: 50px;
  background-color: black;
  color: white;
  padding: 0 15px 0 15px;
}

.gr-nav p {
  font-size: 12px;
  font-weight: 200;
}

.raven {
  display: none;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col2 {
  width: 50%;
  flex-direction: column;
  margin-bottom: 30px;
}


}
