h1, h2, h3 {
  font-family: 'Monserrat', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
}
header {
  background: url("images/home_main_desktop.jpg") no-repeat center;
  background-size: 100%;
  height: 450px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
}

header i {
  color: white;
}

.black-nav{
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.bl-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 80px;
}


.bl-nav li{
  list-style:none;
  display: inline-block;
  margin: 0 1em;
}

.white-nav {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.wh-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 20px;
}

.white-nav li {
  list-style:none;
  display: inline-block;
  margin: 0 20px 20px 20px;
  text-transform: uppercase;
}

.white-nav img {
  width: 150px;
}

.container {

}

.stories {
  background-color: #d9d9d9;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-bottom: 80px;
}

.white-card {
  margin: 0 30px 0 30px;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.white-card img {
  width: 250px;

}

.white-card p {

  text-align: center;
  font-size: 14px;
  font-weight:bold;
  text-transform: uppercase;
}

.honduras {
  background-image: url("images/slideshow-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.wide-white-card {
  width: 500px;
  float: right;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin-top: 45px;
  margin-right: 80px;

}

.wide-white-card h2, p {
  padding: 0 30px 0 30px;
}

.wide-white-card p {
  font-size: 14px;
  font-weight: 200;
  line-height: 36px;
}

.wholesale {
 display: flex;
 flex-flow: row nowrap;

}

.wholesale .wide-white-card {
  height: 300px;
}

.wholesale img {
  width: 450px;
  height: 300px;
}
